@import "tailwindcss";

:root {
    --background: "#ffffff";
    --foreground: "#171717";
}

@font-face {
    font-family: kalameh;
    src: url('/fonts/kalameh/KalamehWeb-Regular.woff') format('woff');

}

@font-face {
    font-family: kalameh-num;
    src: url('/fonts/kalameh/KalamehWeb-FaNum-Regular.woff') format('woff');
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("https://fonts.googleapis.com/css2?family=Isometra&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

}

.main-bg-color {
    background-color: #F4EFEC;
}

.main-for-color {
    color: #F4EFEC;
}

.english-font {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.fa-num {
    font-family: kalameh-num;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background);
    color: var(--foreground);
    font-family: kalameh;
}